<div class="listagem-container">
  <table class="tabela">
    <tr class="cabecalho">
      <th>Id</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Excluir</th>
    </tr>
    <tbody class="tabela-corpo">
      <tr class="linha-tabela">
        <div class="linha-tabela-data" (click)="editar(1)">
          <td>1</td>
          <td>Guilherme</td>
          <td>guilhermevmonteiro2512gmail.com</td>
        </div>
        <td><button (click)="excluirLinha(1)">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>
