:host {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 50%;
  height: 50%;

  border: 1px solid black;
  border-radius: 20px;

  padding-block: 20px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-group {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao:hover{
  background: #e4e4e4;
  cursor: pointer;
}

.error-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: red;
}

input{
  padding: 10px 20px 10px 20px;
  font-size: 1rem;

  border-radius: 10px;
  border: 1px solid black;
}

@media (max-width: 400px) {

  :host {
    align-items: start;
  }

  form {
    width: 100%;
    border: none;
  }

  .form-section {
    flex-direction: column;
  }
}
