<form action="">

  <div class="form-section">
    <div class="input-group">
      <label for="produto">Produto</label>
      <input type="text" name="produto">
    </div>

    <div class="input-group">
      <label for="marca">Marca</label>
      <input type="text" name="marca">
    </div>
  </div>

  <div class="form-section">
    <div class="input-group">
      <label for="estoque">Estoque</label>
      <input type="number" name="estoque">
    </div>

    <div class="input-group">
      <label for="preco">Preço</label>
      <input type="text" name="preco">
    </div>
  </div>

  <div class="submit-container">
    <input type="submit" value="Cadastrar">
  </div>
</form>
