<table>
  <tr class="header">
    <th>Id</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Data de Nascimento</th>
    <th>Excluir</th>
  </tr>
  <tbody>
    <tr *ngFor="let user of userList" (click)="editUser(user.id!)">
      <td>{{user.id}}</td>
      <td>{{user.nome}}</td>
      <td>{{user.email}}</td>
      <td>{{user.dataNascimento | date}}</td>
      <td>
        <button (click)="removeUser(user.id!)">
          <img src="../../../../../assets/delete.svg" alt="">
        </button>
      </td>
    </tr>
  </tbody>
</table>
