<table>
  <tr class="header">
    <th>Id</th>
    <th>Produto</th>
    <th>Marca</th>
    <th>Estoque</th>
    <th>Preço</th>
    <th>Editar</th>
  </tr>
  <tbody>
    <tr class="linha">
      <td>1</td>
      <td>Medicamento</td>
      <td>Marca 1</td>
      <td>12</td>
      <td>R$ 12.90</td>
      <td>Editar</td>
    </tr>
    <tr class="linha">
      <td>1</td>
      <td>Medicamento</td>
      <td>Marca 1</td>
      <td>12</td>
      <td>R$ 12.90</td>
      <td>Editar</td>
    </tr>
  </tbody>
</table>
