* {
    margin: 0;
    padding: 0;
}

.home {
    height: 100vh;
    display: grid;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;

    grid-template-areas:
        "header header"
        "menu principal"
    ;
}

.header {
    grid-area: header;
    background-color: rgb(207, 207, 207);

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;

    justify-items: center;
    align-items: center;
}

.header-brand{
    display: grid;

    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    
    color: white;
}

.header-logo-img {
    margin-left: 5px;
    max-width: 80px;
}

.header-logo-img:hover {
    transform: scale(110%);
}

.menu {
    grid-area: menu;
    background-color: rgb(238, 238, 238);

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto-fill;
}

.menu-opcoes {
    margin: 20px 10px 20px 10px;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-content: start;
    row-gap: 10px;
}

.menu-button {
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}

.menu-button:hover {
    cursor: pointer;
    background-color: rgb(177, 177, 177);
}

.link-menu {
    display: block;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
}

.link-menu:hover {
    color: white;
}

.conteudo-principal {
    padding: 20px;
    grid-area: principal;
}

.ativo{
    background-color: rgba(221, 221, 221, 0.705);
}

@media only screen and (max-width: 600px) {
    .home {
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto 1fr;
    
        grid-template-areas:
            "header"
            "menu"
            "principal"
        ;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-logo-img {
        margin-left: 5px;
        max-width: 60px;
    }
}