<div class="container">
  <app-funcionario-details [abrirModal]="modal" (fecharModalEvent)="abrirFecharModal($event)" [funcionario]="funcionario!"></app-funcionario-details>
  <table>
    <tr>
      <th>Nome Completo</th>
      <th>Telefone</th>
      <th>Idade</th>
      <th>Cargo</th>
      <th>Opções</th>
    </tr>
    <tbody>
      <tr *ngFor="let funcionario of funcionarios">
        <td>{{funcionario.nome + " " + funcionario.sobrenome}}</td>
        <td>{{funcionario.telefone | telefone}}</td>
        <td>{{funcionario.dataNascimento | date:"dd/MM/yyyy"}}</td>
        <td>{{funcionario.cargo}}</td>
        <td class="opcoes">
          <a (click)="abrirFecharModal(funcionario)"><i class="fa-solid fa-circle-info"></i></a>
          <a routerLink="{{'cadastro/' + funcionario.id}}"><i class="fa-solid fa-pen"></i></a>
          <a><i class="fa-solid fa-trash-can" (click)="deletarFuncionario(funcionario.id)"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
