<main>
  <aside>
    <header>
      <h1 routerLink="">My Restaurant System</h1>
    </header>
    <ul class="menu-list">
      <li>
        <a routerLink="mesa" routerLinkActive="selected"><i class="fa-solid fa-chair"></i>Mesas</a>
      </li>
      <li>
        <a routerLink="cliente" routerLinkActive="selected"><i class="fa-solid fa-users"></i>Clientes</a>
      </li>
      <li>
        <a routerLink="reserva" routerLinkActive="selected"><i class="fa-solid fa-clipboard-list"></i>Reservas</a>
      </li>
      <li>
        <a routerLink="pedido" routerLinkActive="selected"><i class="fa-solid fa-clipboard"></i>Pedidos</a>
      </li>
      <li>
        <a routerLink="funcionario" routerLinkActive="selected"><i class="fa-solid fa-users-gear"></i>Funcionarios</a>
      </li>
      <li>
        <a routerLink="restaurante" routerLinkActive="selected"><i class="fa-solid fa-utensils"></i>Restaurante</a>
      </li>
    </ul>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
