<main>
  <aside>
    <header>
      <h1 routerLink="">My Restaurant System</h1>
    </header>
    <ul class="menu-list">
      <li *ngFor="let botao of botoes">
        <a *ngIf="isLogged;else opcoes_sem_link" [routerLink]="botao.link" routerLinkActive="selected"><i class="fa-solid" [ngClass]="botao.icone"></i>{{botao.nomeBotao}}</a>
        <ng-template #opcoes_sem_link>
          <a routerLink="login"><i class="fa-solid" [ngClass]="botao.icone"></i>{{botao.nomeBotao}}</a>
        </ng-template>
      </li>
    </ul>
    <ul class="menu-list">
      <li *ngIf="isLogged;else logar_button">
        <a routerLink="restaurante" routerLinkActive="selected"><i class="fa-solid fa-utensils"></i>Restaurante</a>
      </li>
      <ng-template #logar_button>
        <li>
          <a routerLink="login" routerLinkActive="selected"><i class="fa-solid fa-utensils"></i>Entrar</a>
        </li>
      </ng-template>
    </ul>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
