$white: #FFFFFF;
$off-white: #fcf7e9;
$off-white-2: #ffedb786;
$base-dark: #3C3C3C;
$gray: #797979;
$orange: #FFA16C;
$error: #ff2626;

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
